name: Build and deploy to PyPI

on: 
  workflow_dispatch:
    inputs:
      repository:
        type: string
        description: The repository to build from
        default: MilanKlausz/ncrystal_wheels
      branch:
        type: string
        description: The repository branch to use
        default: master
      #TODO add option to controll the platforms

  workflow_call:
    inputs:
      repository:
        type: string
        description: The repository to build from
        required: true
      branch:
        type: string
        description: The repository branch to use
        default: master
        required: false

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-20.04, macos-12]
        os: [macos-12]

    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.branch }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.12.3
        env:
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BUILD: cp38-*
          CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
          CIBW_REPAIR_WHEEL_COMMAND: "delocate-wheel --require-archs {delocate_archs} -w {dest_dir} -v {wheel} && wheel tags --python-tag=py3 --abi-tag=none --remove {dest_dir}/*.whl"
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: "auditwheel repair -w {dest_dir} {wheel} && wheel tags --python-tag=py3 --abi-tag=none --remove {dest_dir}/*.whl"

      # - name: Override wheel tags
      #   run: |
      #     python3 -mpip install wheel
      #     wheel tags --python-tag=py3 --abi-tag=none --remove ./wheelhouse/*.whl

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
          if-no-files-found: error

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.branch }}

      - name: Build sdist
        run: pipx run build --sdist

      - name: Test sdist
        id: test-sdist
        run: |
          python3 -mpip install dist/*.tar.gz
          . test/run_tests.sh

      - uses: actions/upload-artifact@v3
        if: steps.test-sdist.outcome == 'success'
        with:
          path: dist/*.tar.gz

  check_artifact:
    name: List artifact content
    # needs: [build_wheels, build_sdist] #TODO final version
    needs: [build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          # unpacks default artifact into dist/
          name: artifact
          path: dist

      - name: list artifact content
        run: ls -l dist
