name: Build and deploy to PyPI

on:
  # workflow_dispatch:
  #   inputs:
  #     destination_url:
  #       type: string
  #       description: URL to upload to
  #     environment:
  #       type: string
  #       description: GitHub environment to use #could be important for trusted publishing
  #     skip_existing:
  #       type: boolean
  #       description: Allow failure due do duplicate when uploading
  #       default: false

  workflow_call:
    inputs:
      destination_url:
        type: string
        description: URL to upload to
        required: true
      environment:
        type: string
        description: GitHub environment to use #could be important for trusted publishing
      skip_existing:
        type: boolean
        description: Allow failure due do duplicate when uploading
        default: false
jobs:
  check_artifact: #TODO probably only for development
    name: List artifact content
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist #unpacks default artifact into dist/

      - name: list artifact content
        run: ls -l dist

  upload_pypi:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }} #TODO what happens if it is empty?
      #url: https://test.pypi.org/project/ncrystal/ 
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist #unpacks default artifact into dist/

      - uses: pypa/gh-action-pypi-publish@v1.8.6
        with:
          repository-url: ${{ inputs.destination_url }}
          skip-existing: ${{ inputs.skip_existing }}
          verbose: true #TODO for debugging
