name: Build and deploy to PyPI

on:
  # workflow_dispatch:
  #   inputs:
  #     DESTINATION_URL:
  #       type: string
  #       description: URL to upload to
  #     ENVIRONMENT:
  #       type: string
  #       description: GitHub environment to use #could be important for trusted publishing
  #     SKIP_EXISTING:
  #       type: boolean
  #       description: Allow failure due do duplicate when uploading
  #       default: false

  workflow_call:
    inputs:
      DESTINATION_URL:
        type: string
        description: URL to upload to
        required: true
      ENVIRONMENT:
        type: string
        description: GitHub environment to use #could be important for trusted publishing
      SKIP_EXISTING:
        type: boolean
        description: Allow failure due do duplicate when uploading
        default: false
    secrets:
      PYPI_API_TOKEN:
        required: true
jobs:
  check_artifact:
    name: List artifact content
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist #unpacks default artifact into dist/

      - name: list artifact content
        run: ls -l dist

  upload_pypi:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.ENVIRONMENT }} #TODO what happens if it is empty?
      #url: https://test.pypi.org/project/ncrystal/ #TODO
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist #unpacks default artifact into dist/

      - uses: pypa/gh-action-pypi-publish@v1.8.6
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          repository-url: ${{ inputs.DESTINATION_URL }}
          skip-existing: ${{ inputs.SKIP_EXISTING }}
